<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <h1>URL Shortener</h1>
    <p>A Free Code Camp project, created by <a href="https://brentoncozby.com">Brenton Cozby</a>.</p>

</body>
</html>
